# Main API endpoints
NEXT_PUBLIC_API_URL=https://citrus-backend.ngrok.io/api

# Admin API endpoints
NEXT_PUBLIC_ADMIN_API_URL=https://citrus-backend.ngrok.io/api/admin

NEXTAUTH_URL=https://citrus-frontend.ngrok.io