PORT=5000
NODE_ENV=development

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=roxie_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

JWT_SECRET=LBwp9dop8FgRE/mCYmX0zdJVKoAP9HtkpRSl/HR7en0=

# Stripe API Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key

API_URL=https://citrus-backend.ngrok.io/api

# Digital Ocean API Configuration
DO_API_TOKEN=dop_v1_your_digital_ocean_token

ENGINE_WS_URL=wss://citrus-backend.ngrok.io
COMMANDER_ID=1
COMMANDER_KEY=123

GITHUB_TOKEN=ghp_your_github_personal_access_token

# Stripe configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret